<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <%= link_to image_tag(image.thumbnail(geometry: "400x300#c").url, class: "img-responsive"),
                              image.thumbnail(geometry: "900x600").url ,
                    class: 'thumbnail fancybox',
                    rel: 'gallery'  %>
              
            </div>