
<div class="container">

    <div class="box">
        <%= raw @page.content_for(:body) %>
    </div>

    <div class="box">
        <%= raw @page.content_for(:side_body) %>
    </div>

</div>
<!-- /.container -->


