  <%= simple_form_for(user, url:update_subscribed_event_types_path(user)) do |f| %>
    <% if user.admin? %>
      <%= f.select(:subscribed_event_types, 
     Event.event_types.keys.map {|event| "<option value='#{event}' selected >#{event.titleize}</option>"}.join().html_safe, {}, html_options = {class:'checkbox', multiple:"multiple", disabled:true, style:"display:none"}) %>
    <% else %>
    <%= f.select(:subscribed_event_types, 
    Event.event_types.keys.map {|event| "<option value='#{event}' #{user.subscribed_event_types.to_s.include?(event) ? 'selected' : ''}>#{event.titleize}</option>"}.join().html_safe, {}, html_options = {class:'checkbox', multiple:"multiple", style:"display:none"}) %>
    <% end %>
  <% end %> 
