<p>Dear <%= @user.name %>,</p>

<p>Good news! Your account is now ready.
<p>

<p>Go ahead and login at <a href="<%= Rails.application.config.fabrika_url %>"><%= Rails.application.config.fabrika_url %></a> with the email address and password you provided during signup. Once you login you'll have 100 hours of usage over the next two weeks.
</p>

<p>Don’t hesitate to reach out if there’s anything we can do to help.</p>

<p>
Thanks,<br>
Fabrika 
</p>