<p>Dragi/draga <%= @user.name %>,</p>
<p>Prošlo je 5 dana nakon isteka tvoje mesečne članarine i tvoj nalog na Factory Niš aplikaciji više nije aktivan. </p>
<p>Ukoliko budeš želeo/la da ga ponovo aktiviraš, to možeš učiniti obnavljanjem članarine u prostorijama Factory Niš. </p>
<p>Nadamo se da ćemo te opet videti na treninzima. </p>
<p>Veliki pozdrav, <br>
Factory Niš <br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: <a href="
https://www.facebook.com/FactoryForgingEliteFitness">
https://www.facebook.com/FactoryForgingEliteFitness</a><br>
Instagram: <a href="https://www.instagram.com/factory_nis/">https://www.instagram.com/factory_nis/</a><br>
</p>