<p>Dragi/draga <%= @user.name %>,</p>
<p>Želimo da te obavestimo da je tvoja mesečna članarina istekla. </p>
<p>Ukoliko želiš da obnoviš svoju članarinu, molimo te da to učiniš u prostorijama Factory Niš. </p>
<p>Napomena: Tvoj nalog na Factory Niš aplikaciji biće deaktiviran za 5 dana. Obnavljanjem članarine, tvoj nalog ponovo postaje aktivan.</p>
<p>Veliki pozdrav, <br>
Factory Niš <br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: <a href="
https://www.facebook.com/FactoryForgingEliteFitness">
https://www.facebook.com/FactoryForgingEliteFitness</a><br>
Instagram: <a href="https://www.instagram.com/factory_nis/">https://www.instagram.com/factory_nis/</a><br>
</p>