<p>Dear <%= @user.name %>,</p>

<p>Your membership has expired. 
<p>

<p>Please note that if you want to renew your membership, you can do it in clubs quarters. 
   Your account will be deactivated in 5 days.</p>
<p>
Thanks,<br>
Fabrika 
</p>