<p>Dear <%= @user.name %>,</p>

<p>Your membership has expired 5 days ago.
   Your account is deactivated.
<p>

<p>Your account will be activated again, once you renew your membership.</p>

<p>
Thanks,<br>
Fabrika 
</p>