<p>캕ao <%= @user.name %>,</p>

<p>Obave코tavamo te da u nedelju 25.9. organizujemo besplatan uspon na Trem, 
kako bismo iskoristili poslednje sun캜ane dane u ovoj godini i aktivno se odmarali.</p>

<p>Ako ho캖e코 sa nama, javi se nekome od trenera u klubu ili putem inboxa, a raspored polaska i spisak stvari koje treba da ponese코 sa sobom pogledaj ovde: http://bit.ly/TremIFabrikanti
</p>

<p>Nadamo se da se vidimo u nedelju da osvajamo Trem i dobro se zabavimo! 游땔</p>


<p>Veliki pozdrav, <br>
Factory Ni코 tim<br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: <a href="
https://www.facebook.com/FactoryForgingEliteFitness">
https://www.facebook.com/FactoryForgingEliteFitness</a><br>
Instagram: <a href="https://www.instagram.com/factory_nis/">https://www.instagram.com/factory_nis/</a><br>
</p>