<p>Dragi/draga <%= @user.name %>,</p>

<p>Divni ljudi iz Zavoda za transfuziju krvi u našem gradu javili su nam da imaju veliku nestašicu krvi, pa smo odlučili da im pomognemo koliko možemo. </p>

<p>Sutra, 26.07.2016. godine u Fabrici organizujemo dobrovoljno davanje krvi u terminu Open Gym-a od 13h.
</p>

<p>Ukoliko si zainteresovan/a, molimo te da nam se javiš odgovorom na mail, putem inboxa na Facebook-u ili na broj O63231193. :) <br>
   Ovim nesebičnim činom sigurno ćeš pomoći da se spasi nečiji život.
</p>
<p>
Budimo humani i pomozimo drugima, jer samo tako se i nama može pomoći. :)
<br>Tim Fabrike i Zavoda za transfuziju krvi ti se unapred zahvaljuje!
</p>
<p>Veliki pozdrav, <br>
Factory Niš <br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: https://www.facebook.com/CfFabrika/<br>
Instagram: @fabrika_018<br>
</p>