<p>Ćao <%= @user.name %>,</p>

<p>Prošle nedelje smo ti javili da organizujemo put na Skopje Winter Challenge 24.12.2016. godine kako bismo podržali naše Fabrikante koji će učestvovati na ovom takmičenju. </p>

<p>Želimo da te obavestimo da je cena autobuske karte u oba pravca 10e.
</p>
<p>
Ukoliko si zainteresovan/a, a još uvek nisi popunio/la ovu anketu, molimo te da to učiniš najkasnije do srede 21.12.2016. god., kako bismo znali koliko autobusa da organizujemo za prevoz. Hvala ti puno!</p>
<p>
Link do ankete: <a href="http://bit.ly/FactoryPutUSkopje">http://bit.ly/FactoryPutUSkopje</a>
</p>

<p>Veliki pozdrav, <br>
Factory Niš tim<br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: <a href="
https://www.facebook.com/FactoryForgingEliteFitness">
https://www.facebook.com/FactoryForgingEliteFitness</a><br>
Instagram: <a href="https://www.instagram.com/factory_nis/">https://www.instagram.com/factory_nis/</a><br>
</p>