<p>Treninzi su dodati za ovu nedelju. </p>
<p>Veliki pozdrav, <br>
Factory Niš <br>
Email: <a href="mailto:<%= @email %>"><%= @email %></a><br>
Facebook: <a href="
https://www.facebook.com/FactoryForgingEliteFitness">
https://www.facebook.com/FactoryForgingEliteFitness</a><br>
Instagram: <a href="https://www.instagram.com/factory_nis/">https://www.instagram.com/factory_nis/</a><br>
</p>