<p>Dear <%= @user.name %>,</p>

<p>Thanks for signing up!</p>

<p>We’ll have you up and running soon — usually within 24 hours. Once we activate your account, you’ll recieve another email from us, with your login credentials.</p>

<p>If you have any questions in the meantime, please contact us at <a href="mailto:support@fabrika.com">support@fabrika.me</a>.</p>

<p>We’ll be back in touch soon.
</p>
<p>
Thanks,<br>
Fabrika
</p> 