/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require business-casual
 *= require 1st_load_framework
 */
.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.dhx_resize_denied .dhx_event_resize{
  display: none;
}

.dhx_cal_ltext .dhx_text_disabled {
  line-height: 15px;
  white-space: pre;
}

.dhtmlx_button, .dhtmlx_popup_button {
    height: 32px!important;
    line-height: 32px!important;
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    color: #FFF;
}

.dhx_cal_qi_content {
  border: 1px solid #888;
  background-color: #fefefe;
  padding: 16px 8px;
  font-size: 14px;
  color: #444;
  width: 275px;
  white-space: pre-wrap;
  overflow: hidden;
}

.dhx_cal_ltext textarea {
  background-color: #FFFFFF;
  /* #FFF4B5; should be the same for dhx_cal_larea, was transperent */
  overflow: auto;
  border: none;
  color: #887A2E;
  height: 300px!important;
  width: 100%;
  outline: none !important;
  resize: none;
}

.dhx_cal_ltext {
  padding: 2px  0px 2px 10px;
  overflow: hidden;
  height: auto!important;
}