<div class="brand"> <%=image_tag "imgs/logo.png"%></div>
<div class="brand">Factory Niš</div>
<div class="address-bar">Kraljevića Marka 23 | Niš, 18000 | +381 63 231193 </div>

<%= render 'layouts/navigation' %>