<div class="brand"> <img class="logo" src="../logo.png" alt=""></div>
<div class="brand">Fabrika</div>
<div class="address-bar">Kraljevica Marka 23 | Nis, 18000 | +381 63 231193 </div>

<%= render 'layouts/navigation' %>