<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal bootstrap-dialog type-primary size-small" id="new_person_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=yield :title if content_for? :title%></h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Odustani</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Snimi</button>
      </div>
    </div>
  </div>
</div>